@page "/server-config"

@attribute [Authorize]
@inherits AuthComponentBase


@if (User?.IsServerAdmin == true)
{
    <AlertBanner Message="@_alertMessage" />

    <h3 class="mt-3">Konfiguracja Serwera nex-Remote </h3>

    <div class="row">
        <div class="col-md-8">
            <div class="mb-4" style="display:flex; justify-content: space-evenly">
                <div class="d-inline-block text-center mr-2">
                    <label>Urządzenia Online</label>
                    <br />
                    <span class="badge badge-primary p-2">@AgentHub.ServiceConnections.Count</span>
                </div>
             
                <div class="d-inline-block text-center mr-2">
                    <label>Urządzenia niezaktualizowane</label>
                    <br />

                    <button class="btn btn-sm btn-secondary" @onclick="ShowOutdatedDevices">
                        <i class="oi oi-question-mark"></i>
                    </button>
                    <span class="badge badge-primary p-2 mx-2">@(OutdatedDevices?.Count() ?? 0)</span>
                    <button class="btn btn-secondary btn-sm" type="button" title="Aktualizuj wszystkie" @onclick="UpdateAllDevices">
                        <span class="oi oi-reload"></span>
                    </button>
                </div>

                <div class="d-inline-block text-center mr-2">
                    <label>Wszystkie Urządzenia</label>
                    <br />
                    <span class="badge badge-primary p-2">@TotalDevices</span>
                </div>
                <div class="d-inline-block text-center mr-2">
                    <label>Aktywni Użytkownicy</label>
                    <br />
                    <span class="badge badge-primary p-2">@CircuitManager.Connections.Count</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3 class="mt3">Administratorzy Serwera</h3>

            <div class="form-group">
                <label class="control-label">Administratorzy Serwera</label>
                <br />

                <div class="small">
                    <input class="align-middle mr-1" type="checkbox" @bind="_showMyOrgAdminsOnly" />
                    <span class="align-middle">Pokaż tylko moją organizację</span>
                </div>
                <div class="small">
                    <input class="align-middle mr-1" type="checkbox" @bind="_showAdminsOnly" />
                    <span class="align-middle">Pokaż tylko bieżących adminów</span>
                </div>

                <br />
                <div class="list-box">
                    @foreach (var user in UserList)
                    {
                        <div @key="user.Id">
                            <input type="checkbox" disabled="@(user.Id == User.Id)" checked="@user.IsServerAdmin" @onchange="ev => SetIsServerAdmin(ev, user)" />
                            <span class="ml-2 align-top" style="line-height:1.3em">@user.UserName</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <EditForm Model="Input" OnValidSubmit="HandleValidSubmit" autocomplete="off">
                <DataAnnotationsValidator />

                <h3 class="mt-3">Ustawienia Aplikacji</h3>

                <ValidationSummary Model="Input" />


                <div class="form-group">
                    <label>Zezwól na logowanie API</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.AllowApiLogin" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.AllowApiLogin" />
                </div>
                <div class="form-group">
                    <label class="control-label">Zablokowane urządzenia</label>
                    <br />
                    <select size="4" class="form-control" @bind="_bannedDeviceSelected">
                        @foreach (var bannedDevice in Input.BannedDevices)
                        {
                            <option @key="bannedDevice" value="@bannedDevice">@bannedDevice</option>
                        }
                    </select>

                    <div class="text-right mb-2 mt-1">
                        <button type="button" class="btn btn-secondary" @onclick="RemoveBannedDevice">Remove</button>
                    </div>
                    <div class="input-group">
                        <input placeholder="Dodaj ID, nazwę lub adres IP zakazanego urządzenia"
                               class="form-control" autocomplete="off"
                               @bind="_bannedDeviceToAdd"
                               @bind:event="oninput"
                               @onkeydown="HandleBannedDeviceKeyDown" />
                        <button type="button" class="btn btn-secondary" @onclick="AddBannedDevice">Add</button>
                    </div>
                    <ValidationMessage For="() => Input.BannedDevices" />
                </div>
                <div class="form-group">
                    <label class="control-label">Retencja danych (dni)</label>
                    <br />
                    <InputNumber @bind-Value="Input.DataRetentionInDays" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.DataRetentionInDays" />
                </div>
                <div class="form-group">
                    <label class="control-label">Baza Danych</label>
                    <br />
                    <select class="form-control" @bind="Input.DBProvider">
                        @foreach (var provider in Enum.GetValues<DbProvider>())
                        {
                            <option @key="provider" value="@provider">@provider</option>
                        }
                    </select>
                    <br />
                    <ValidationMessage For="() => Input.DBProvider" />
                </div>
                <div class="form-group">
                    <label>Aktywacja Dziennika Zdarzeń Windows</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.EnableWindowsEventLog" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.EnableWindowsEventLog" />
                </div>
                <div class="form-group">
                    <label>Wymuszaj dostęp nadzorowany</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.EnforceAttendedAccess" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.EnforceAttendedAccess" />
                </div>
                <div class="form-group">
                    <label class="control-label">Zaufane Proxy</label>
                    <br />
                    <select class="form-control" @bind="_knownProxySelected" size="4">
                        @foreach (var proxy in Input.KnownProxies)
                        {
                            <option @key="proxy" value="@proxy">@proxy</option>
                        }
                    </select>
                    <div class="text-right mb-2 mt-1">
                        <button type="button" class="btn btn-secondary" @onclick="RemoveKnownProxy">Usuń</button>
                    </div>
                    <div class="input-group">
                        <input @bind="_knownProxyToAdd"
                               @bind:event="oninput"
                               placeholder="Dodaj Zaufane Proxy"
                               class="form-control"
                               autocomplete="off"
                               @onkeydown="HandleKnownProxyKeyDown" />

                        <button type="button" class="btn btn-secondary" @onclick="AddKnownProxy">Add</button>
                    </div>
                    <ValidationMessage For="() => Input.KnownProxies" />
                </div>
                <div class="form-group">
                    <label class="control-label">Maksymalna Liczba Organizacji</label>
                    <br />
                    <InputNumber @bind-Value="Input.MaxOrganizationCount" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.MaxOrganizationCount" />
                </div>
                <div class="form-group">
                    <label class="control-label">Maksymalna Ilość jednoczesnych połączeń</label>
                    <br />
                    <InputNumber @bind-Value="Input.MaxConcurrentUpdates" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.MaxConcurrentUpdates" />
                </div>
                <div class="form-group">
                    <label class="control-label">Wiadomość Dnia</label>
                    <br />
                    <InputText @bind-Value="Input.MessageOfTheDay" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.MessageOfTheDay" />
                </div>
                <div class="form-group">
                    <label>Przekieruj na HTTPS</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.RedirectToHttps" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RedirectToHttps" />
                </div>
                <div class="form-group">
                    <label>Połączenie Zdalne - Powiadom Użytkownika</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.RemoteControlNotifyUser" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RemoteControlNotifyUser" />
                </div>
                <div class="form-group">
                    <label>Wymagana Autoryzacja - Pomoc Zdalna (moduł)</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.RemoteControlRequiresAuthentication" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RemoteControlRequiresAuthentication" />
                </div>
                <div class="form-group">
                    <label class="control-label">Pomoc Zdalna - Limit Sesji</label>
                    <br />
                    <InputNumber @bind-Value="Input.RemoteControlSessionLimit" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.RemoteControlSessionLimit" />
                </div>
                <div class="form-group">
                    <label>Wymagaj 2FA</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.Require2FA" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.Require2FA" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Nazwa Wyświetlana</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpDisplayName" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpDisplayName" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Email</label>
                    <br />
                    <InputText type="email" @bind-Value="Input.SmtpEmail" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpEmail" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Host</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpHost" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpHost" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Port</label>
                    <br />
                    <InputNumber @bind-Value="Input.SmtpPort" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpPort" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Sprawdź Unieważnienie Ceryfikatu</label>
                    <div class="small text-muted">
                        Czasami musi być wyłączone dla certyfikatów Let's Encrypt.
                    </div>
                    <br />
                    <InputCheckbox @bind-Value="Input.SmtpCheckCertificateRevocation" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpCheckCertificateRevocation" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Domena Lokalna</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpLocalDomain" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpLocalDomain" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Nazwa Użytkownika</label>
                    <br />
                    <InputText @bind-Value="Input.SmtpUserName" class="form-control" autocomplete="new-password" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpUserName" />
                </div>
                <div class="form-group">
                    <label class="control-label">SMTP Hasło</label>
                    <br />
                    <InputText type="password" @bind-Value="Input.SmtpPassword" class="form-control" autocomplete="new-password" />
                    <br />
                    <ValidationMessage For="() => Input.SmtpPassword" />
                </div>
                <div class="form-group text-right">
                    <button id="sendTestEmailButton" type="button" class="btn btn-secondary" @onclick="SaveAndTestSmtpSettings">Test</button>
                </div>
                <div class="form-group">
                    <label class="control-label">Motyw</label>
                    <br />
                    <select class="form-control" @bind="Input.Theme">
                        @foreach (var theme in Enum.GetValues<Theme>())
                        {
                            <option @key="theme" value="@theme">@theme</option>
                        }

                    </select>
                    <br />
                    <ValidationMessage For="() => Input.Theme" />
                </div>
                <div class="form-group">
                    <label class="control-label">Zaufane Pochodzenia CORS</label>
                    <br />
                    <select class="form-control" @bind="_trustedCorsOriginSelected" size="4">
                        @foreach (var origin in Input.TrustedCorsOrigins)
                        {
                            <option @key="origin" value="@origin">@origin</option>
                        }
                    </select>

                    <div class="text-right mb-2 mt-1">
                        <button type="button" class="btn btn-secondary" @onclick="RemoveTrustedCorsOrigin">Usuń</button>
                    </div>
                    <div class="input-group">
                        <input placeholder="Dodaj Zaufany URL"
                               class="form-control"
                               autocomplete="off"
                               @bind="_trustedCorsOriginToAdd"
                               @bind:event="oninput"
                               @onkeydown="HandleTrustedCorsKeyDown" />

                        <button id="trustedCorsAddButton" type="button" class="btn btn-secondary" @onclick="AddTrustedCorsOrigin">Dodaj</button>
                    </div>
                    <ValidationMessage For="() => Input.TrustedCorsOrigins" />
                </div>
                <div class="form-group">
                    <label>Aktywacja HSTS</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.UseHsts" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.UseHsts" />
                </div>

                <div class="form-group">
                    <label>Aktywacja WebRTC</label>
                    <br />
                    <InputCheckbox @bind-Value="Input.UseWebRtc" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => Input.UseWebRtc" />
                </div>

                <div class="form-group">
                    <label>Serwery ICE</label>
                    <br />
                    <span class="text-muted">Edycja na poziomie appsettings.json.</span>
                </div>

                <h4>Zmienne Połączenia</h4>

                <div class="form-group">
                    <label class="control-label">PostgreSQL</label>
                    <br />
                    <InputText @bind-Value="ConnectionStrings.PostgreSQL" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => ConnectionStrings.PostgreSQL" />
                </div>

                <div class="form-group">
                    <label class="control-label">SQLite</label>
                    <br />
                    <InputText @bind-Value="ConnectionStrings.SQLite" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => ConnectionStrings.SQLite" />
                </div>


                <div class="form-group">
                    <label class="control-label">SQL Server</label>
                    <br />
                    <InputText @bind-Value="ConnectionStrings.SQLServer" class="form-control" autocomplete="off" />
                    <br />
                    <ValidationMessage For="() => ConnectionStrings.SQLServer" />
                </div>


                <div class="form-group mt-3">
                    <button type="button" class="btn btn-primary" @onclick="Save">Zapisz</button>
                </div>
            </EditForm>
        </div>
    </div>

}
else
{
    <h5 class="text-muted">Tylko administrator może wyświetlić stronę.</h5>
}